<div class="container" data-ng-app="gameApp" data-ng-controller="gameController">

    <div class="row">
        <div class="col-xs-2">
            <a class="btn btn-primary" id="leaveGame" type="button" href="/private/lobby"><span class="glyphicon glyphicon-chevron-left"></span> Back to Lobby</a>
        </div>
        <div class="col-xs-8">
            <canvas id="game"></canvas>
        </div>
        <div class="col-xs-2">
            <div id="username"><%=profile.username%></div>
            <div id="health">HP: {{localHealth}}</div>
            <div id="ammoSlot"><img src="../images/Three_Bullets.png" id="currentAmmo"/><div id="reloadBar">Reloading</div></div>
        </div>
    </div>
</div>
<img src="../images/Tank_Down.png" id="downTank" class="hide"/>
<img src="../images/Tank_Up.png" id="upTank" class="hide"/>
<img src="../images/Tank_Right.png" id="rightTank" class="hide"/>
<img src="../images/Tank_Left.png" id="leftTank" class="hide"/>
<img src="../images/Bullet.png" id="bullet" class="hide"/>