<div class="container" data-ng-app="gameApp" data-ng-controller="gameController">

    <div class="row">
        <div class="col-xs-2">
            <a class="btn btn-primary" id="leaveGame" type="button" href="/private/lobby"><span class="glyphicon glyphicon-chevron-left"></span> Back to Lobby</a>
        </div>
        <div class="col-xs-8">
            <canvas id="game"></canvas>
        </div>
        <div class="col-xs-2"><div id="username"><%=profile.username%></div></div>
    </div>
</div>
<img src="../images/testTank.gif" id="startTank"/>