<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <% include includes/head.ejs %>
    <link rel="stylesheet" href="./css/index_styles.css"/>
</head>
<body>

<% include includes/login_form.ejs %>

</body>
</html>